USE Searchignite

/*SELECT * FROM SigarText*/

UPDATE SigarText
SET SigarText =N'<p>ガイドラインが順守されなかったことにより生じたいかなる損害、損失に対しても IgnitionOne（イグニッション・ワン）は一切責任を負いません。</p> 
<p><font size="14">IgnitionOne（イグニッション・ワン）：ご利用いただく際のご注意点、活用のヒント</font></p>
<p><font size="12">キャンペーン：管理・編集に関する機能について</font></p>
<p><b>オンライン バルクリクエスト</b> - ダウンロードしたバルクシートをExcelで変更してからアップロードするといった作業をしなくても、掲載内容をオンラインで一括変更できる新機能です。変更箇所は「承認」ボタンをクリックした段階ですべて適用されますので、変更をおこなう内容は慎重に確認してください。</p>
<p><b>管理画面での複数選択、編集機能</b> - キャンペーン/広告グループ/広告/キーワードの各項目を複数行に渡って編集する場合、変更をおこなう範囲が正しく選択されていることをご確認ください。</p>
<p><b>インライン編集機能</b> - 管理画面で複数の項目を一度に変更することができる機能です。作業途中で変更された項目はオレンジ色で表示されます。作業完了時には必ず「保存」ボタンをクリックして、変更内容を確定してください。</p>
<p><font size="12">ポートフォリオ最適化、自動入札ツールについて</font></p>
<p>イグニッション・ワンのポートフォリオ最適化機能（SPOT®)、自動入札ルールをお使いの際には、ツールの機能を最大限活用いただく方法として、 以下のご注意点を必ずご確認ください。</p>
<p><b>予算のキャップ（上限設定）</b> - キャンペーン単位の上限予算の大きな変更は、SPOTグループの予測精度に影響することあります。上限額の設定には、季節要因や外部プロモーションの有無などを考慮する必要があります。大幅に設定変更される場合には、イグニッション・ワンの担当までご相談ください。</p>
<p><b>モニタリング</b> - SPOTグループのパフォーマンス（特に自動入札機能を使用している場合）は、レポート画面で定期的に確認してください。予測結果を見ながら目標の再調整を適切におこなう上で、最低でも2日1回は進捗状況のモニタリングをお薦めします。</p>
<p><b>レポート管理画面</b> - 「SPOTグループレポート」を定期的に作成し、進捗確認することを強くお薦めします。特定のレポートがメール添付で毎日配信されるよう、スケジュール設定することも可能です。詳しい設定方法は、イグニッション・ワンの担当窓口までお問い合わせください。</p>
<p><b>入札ルール</b> - CPA・ROAS目標によって入札額を調整する「パフォーマンス連動型ルール」には、十分な実績データが必要です。また、順位指定ルールで「Google の1stページビッドを下回らない」設定が無効になっている場合、入札額が低くなり、媒体の掲載ステータスが「オフ」になる可能性があります。</p>
<p><font size="12">媒体管理画面の設定</font></p>
<p>イグニッション・ワンは、複数の媒体アカウントを効率良く一元管理できるよう設計されています。基本的な編集作業はイグニッション・ワンでおこない、媒体での操作は極力控えていただくことをお薦めします。ただし、下記にご案内する一部の機能については、イグニッション・ワン管理画面で編集できないため、引き続き媒体管理画面で設定をおこなってください。</p>
<p><b>広告の配信設定（ローテーション設定）</b> - クリエイティブ/ランディンページのA/Bテストを実施している場合、媒体側で広告の配信設定を「均等配信」に設定してください。</p>
<p><b>モバイルキャンペーンの設定</b> - 引き続き媒体管理画面でおこなってください。</p>
<p><b>予算の上限設定</b> - SPOTによる入札調整を最大限活用できるよう、ある程度余裕をもった上限額を設定してください。但し、リスティングの市場動向によってはSPOTの予想消化額を大幅に超過する可能性もありますので、ご注意ください</p>'
,SigarTextHTML = N'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-16">
<title>IgnitionOne（イグニッション・ワン）：ご利用いただく際のご注意点、活用のヒント</title>
<style type="text/css">* { margin: 0; padding: 0; } body { font: 12px/18px Arial, sans-serif; color: #333; padding: 10px; } #header { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ccc; } #content { padding: 0 10px; } #content b{ margin-bottom: 10px; color: #708090; } #content p, #content h2, #content h3 { margin-bottom: 10px; } #footer { text-align: center; color: #999; padding-top: 10px; margin-top: 10px; border-top: 1px solid #ccc; }</style>
</head>
<body>
<div id="header">
<img src="[%LOGO%]" alt="IgnitionOne"></div>
<div id="content">
<p>ガイドラインが順守されなかったことにより生じたいかなる損害、損失に対しても IgnitionOne（イグニッション・ワン）は一切責任を負いません。</p> 
<h2>IgnitionOne（イグニッション・ワン）：ご利用いただく際のご注意点、活用のヒント</h2> 
<h3>キャンペーン：管理・編集に関する機能について</h3> 
<p><em>オンライン バルクリクエスト</em> - ダウンロードしたバルクシートをExcelで変更してからアップロードするといった作業をしなくても、掲載内容をオンラインで一括変更できる新機能です。変更箇所は「承認」ボタンをクリックした段階ですべて適用されますので、変更をおこなう内容は慎重に確認してください。</p>
<p><em>管理画面での複数選択、編集機能</em> - キャンペーン/広告グループ/広告/キーワードの各項目を複数行に渡って編集する場合、変更をおこなう範囲が正しく選択されていることをご確認ください。</p>
<p><em>インライン編集機能</em> - 管理画面で複数の項目を一度に変更することができる機能です。作業途中で変更された項目はオレンジ色で表示されます。作業完了時には必ず「保存」ボタンをクリックして、変更内容を確定してください。</p>
<h3>ポートフォリオ最適化、自動入札ツールについて</h3>
<p>イグニッション・ワンのポートフォリオ最適化機能（SPOT®)、自動入札ルールをお使いの際には、ツールの機能を最大限活用いただく方法として、 以下のご注意点を必ずご確認ください。</p>
<p><em>予算のキャップ（上限設定）</em> - キャンペーン単位の上限予算の大きな変更は、SPOTグループの予測精度に影響することあります。上限額の設定には、季節要因や外部プロモーションの有無などを考慮する必要があります。大幅に設定変更される場合には、イグニッション・ワンの担当までご相談ください。</p>
<p><em>モニタリング</em> - SPOTグループのパフォーマンス（特に自動入札機能を使用している場合）は、レポート画面で定期的に確認してください。予測結果を見ながら目標の再調整を適切におこなう上で、最低でも2日1回は進捗状況のモニタリングをお薦めします。</p>
<p><em>レポート管理画面</em> - 「SPOTグループレポート」を定期的に作成し、進捗確認することを強くお薦めします。特定のレポートがメール添付で毎日配信されるよう、スケジュール設定することも可能です。詳しい設定方法は、イグニッション・ワンの担当窓口までお問い合わせください。</p>
<p><em>入札ルール</em> - CPA・ROAS目標によって入札額を調整する「パフォーマンス連動型ルール」には、十分な実績データが必要です。また、順位指定ルールで「Google の1stページビッドを下回らない」設定が無効になっている場合、入札額が低くなり、媒体の掲載ステータスが「オフ」になる可能性があります。</p>
<h3>媒体管理画面の設定</h3>
<p>イグニッション・ワンは、複数の媒体アカウントを効率良く一元管理できるよう設計されています。基本的な編集作業はイグニッション・ワンでおこない、媒体での操作は極力控えていただくことをお薦めします。ただし、下記にご案内する一部の機能については、イグニッション・ワン管理画面で編集できないため、引き続き媒体管理画面で設定をおこなってください。</p>
<p><em>広告の配信設定（ローテーション設定）</em> - クリエイティブ/ランディンページのA/Bテストを実施している場合、媒体側で広告の配信設定を「均等配信」に設定してください。</p>
<p><em>モバイルキャンペーンの設定</em> - 引き続き媒体管理画面でおこなってください。</p>
<p><em>予算の上限設定</em> - SPOTによる入札調整を最大限活用できるよう、ある程度余裕をもった上限額を設定してください。但し、リスティングの市場動向によってはSPOTの予想消化額を大幅に超過する可能性もありますので、ご注意ください</p>
</div>
<div id="footer">&copy; 2011 IgnitionOne | Customer Service: 03-6436-4345</div>
</body>
</html>'
WHERE SigarTextID = 4