

--TRUNCATE TABLE JUNKDB..CreativeSummaryControl_20111115

--INSERT INTO JUNKDB..CreativeSummaryControl_20111115(RunDate,Processed)
--VALUES('10/25/2011',0),
--('10/26/2011',0),('10/27/2011',0),('10/28/2011',0),('10/29/2011',0),
--('10/30/2011',0),('10/31/2011',0),('11/01/2011',0),('11/02/2011',0),
--('11/03/2011',0),('11/04/2011',0),('11/05/2011',0),('11/06/2011',0),
--('11/07/2011',0),('11/08/2011',0),('11/09/2011',0),('11/10/2011',0),
--('11/11/2011',0)

SELECT * FROM JUNKDB..CreativeSummaryControl_20111115